
#home-banner {
    height: 100vh;
    background: url('https://img.freepik.com/free-vector/glowing-musical-pentagram-background-with-sound-notes_1017-31220.jpg?w=1380&t=st=1691120282~exp=1691120882~hmac=ad64ac5f41fe842492577eb677b0c88796119c59f6b129adf96ff6d9cfa5b00d');
    background-position: center;
    background-size: cover;
}