
#home-banner {
    height: 100vh;
    background: url('https://www.istockphoto.com/vector/vinyl-record-illustration-music-on-dark-background-gm1379030117-442725059');
    background-position: center;
    background-size: cover;
}